<!--<ul>
	<li>If you are not paying for an invoice, please ensure that the relevant order has been placed before proceeding with a payment. </li>
	<li>Please choose the service you wish to pay before from the options below and complete the mandatory fields as directed. </li>
	<li>You will then be directed to a secure PCI compliant payment portal hosted by [Thingy] where you can make payment by credit/debit card for the service or the invoice. </li>
	<li>Once you have submitted the completed form and your payment has been successfully received, a receipt will be available to print. </li>
</ul>
<p>What would you like to pay for?</p>
<ul>
  <li>An invoice</li>
  <li>[Thingy] Service</li>
  <li>[Thingy] Service</li>
  <li>[Thingy] Service</li>
  <li>An archive order</li>
  <li>A [Thingy] test Report</li>
</ul>-->

<div class="pricing-header mx-auto text-center">
	<h1 class="font-weight-bold mb-4">Payment Portal <small class="h5 font-weight-normal text-muted">Pay for invoices and services via a secure PCI compliant portal.</small></h1>
</div>

<div class="card-deck mb-3 text-center">
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h2 class="h4 my-0 font-weight-normal">
				<fa-icon [icon]="['far', 'file-alt']" class="mr-1"></fa-icon> Service Description Text
			</h2>
		</div>
		<div class="card-body">
			<h3 class="card-title h5">Secondary text</h3>
			<p class="card-text text-muted">Tertiary text</p>
			<button type="button" class="btn btn-outline-primary btn-outline-caie btn-lg btn-block"><span class="mr-1">Go</span> <fa-icon [icon]="['fas', 'angle-right']" class="mr-1"></fa-icon></button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h2 class="h4 my-0 font-weight-normal">
				<fa-icon [icon]="['fas', 'award']" class="mr-1"></fa-icon> Service Description Text
			</h2>
		</div>
		<div class="card-body">
			<h3 class="card-title h5">Secondary text</h3>
			<p class="card-text text-muted">Tertiary text</p>
			<button type="button" class="btn btn-outline-primary btn-outline-caie btn-lg btn-block"><span class="mr-1">Go</span> <fa-icon [icon]="['fas', 'angle-right']" class="mr-1"></fa-icon></button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h2 class="h4 my-0 font-weight-normal">
				<fa-icon [icon]="['fas', 'book-reader']" class="mr-1"></fa-icon> Service Description Text
			</h2>
		</div>
		<div class="card-body">
			<h3 class="card-title h5">Secondary text</h3>
			<p class="card-text text-muted">Tertiary text</p>
			<button type="button" class="btn btn-outline-primary btn-outline-caie btn-lg btn-block"><span class="mr-1">Go</span> <fa-icon [icon]="['fas', 'angle-right']" class="mr-1"></fa-icon></button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h2 class="h4 my-0 font-weight-normal">
				<fa-icon [icon]="['fas', 'chalkboard-teacher']" class="mr-1"></fa-icon> Service Description Text
			</h2>
		</div>
		<div class="card-body">
			<h3 class="card-title h5">Secondary text</h3>
			<p class="card-text text-muted">Tertiary text</p>
			<button type="button" class="btn btn-outline-primary btn-outline-caie btn-lg btn-block"><span class="mr-1">Go</span> <fa-icon [icon]="['fas', 'angle-right']" class="mr-1"></fa-icon></button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h2 class="h4 my-0 font-weight-normal">
				<fa-icon [icon]="['far', 'file-alt']" class="mr-1"></fa-icon> Service Description Text
			</h2>
		</div>
		<div class="card-body">
			<h3 class="card-title h5">Secondary text</h3>
			<p class="card-text text-muted">Tertiary text</p>
			<button type="button" class="btn btn-outline-primary btn-outline-caie btn-lg btn-block"><span class="mr-1">Go</span> <fa-icon [icon]="['fas', 'angle-right']" class="mr-1"></fa-icon></button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h2 class="h4 my-0 font-weight-normal">
				<fa-icon [icon]="['fas', 'award']" class="mr-1"></fa-icon> Service Description Text
			</h2>
		</div>
		<div class="card-body">
			<h3 class="card-title h5">Secondary text</h3>
			<p class="card-text text-muted">Tertiary text</p>
			<button type="button" class="btn btn-outline-primary btn-outline-caie btn-lg btn-block"><span class="mr-1">Go</span> <fa-icon [icon]="['fas', 'angle-right']" class="mr-1"></fa-icon></button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h2 class="h4 my-0 font-weight-normal">
				<fa-icon [icon]="['fas', 'book-reader']" class="mr-1"></fa-icon> Service Description Text
			</h2>
		</div>
		<div class="card-body">
			<h3 class="card-title h5">Secondary text</h3>
			<p class="card-text text-muted">Tertiary text</p>
			<button type="button" class="btn btn-outline-primary btn-outline-caie btn-lg btn-block"><span class="mr-1">Go</span> <fa-icon [icon]="['fas', 'angle-right']" class="mr-1"></fa-icon></button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h2 class="h4 my-0 font-weight-normal">
				<fa-icon [icon]="['fas', 'chalkboard-teacher']" class="mr-1"></fa-icon> Service Description Text
			</h2>
		</div>
		<div class="card-body">
			<h3 class="card-title h5">Secondary text</h3>
			<p class="card-text text-muted">Tertiary text</p>
			<button type="button" class="btn btn-outline-primary btn-outline-caie btn-lg btn-block"><span class="mr-1">Go</span> <fa-icon [icon]="['fas', 'angle-right']" class="mr-1"></fa-icon></button>
		</div>
	</div>
</div>