<!--<ul>
	<li>If you are not paying for an invoice, please ensure that the relevant order has been placed before proceeding with a payment. </li>
	<li>Please choose the service you wish to pay before from the options below and complete the mandatory fields as directed. </li>
	<li>You will then be directed to a secure PCI compliant payment portal hosted by [Thingy] where you can make payment by credit/debit card for the service or the invoice. </li>
	<li>Once you have submitted the completed form and your payment has been successfully received, a receipt will be available to print. </li>
</ul>
<p>What would you like to pay for?</p>
<ul>
  <li>An invoice</li>
  <li>[Thingy] Service</li>
  <li>[Thingy] Service</li>
  <li>[Thingy] Service</li>
  <li>An archive order</li>
  <li>A [Thingy] test Report</li>
</ul>-->

<div class="pricing-header mx-auto text-center">
	<h1 class="display-4">Payment</h1>
	<div class="row">
		<div class="col col-sm-9 text-right">
			<p class="lead mb-3">Pay for invoices and services via a secure PCI compliant payment portal hosted by
				[Thingy].</p>
		</div>
		<div class="col col-sm-3 text-right">
			<p><a href=""><img src="https://stackblitz.com/files/angular-pzyxrh-reactive-form/github/ukozdan/angular-pzyxrh-reactive-form/master/src/assets/img/Landscape-Tile-595px-x-244px5.png" class="img-fluid"></a>
			</p>
		</div>
	</div>
</div>


<div class="card-deck mb-3 text-center">
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Service</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title">£100 <small class="text-muted">/ mo</small></h1>
			<ul class="list-unstyled mt-3 mb-4">
				<li>POS item 1</li>
				<li>POS item 2</li>
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-dark">Pay</button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Service</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title">£100 <small class="text-muted">/ mo</small></h1>
			<ul class="list-unstyled mt-3 mb-4">
				<li>POS item 1</li>
				<li>POS item 2</li>
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-dark">Pay</button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Service</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title">£100 <small class="text-muted">/ mo</small></h1>
			<ul class="list-unstyled mt-3 mb-4">
				<li>POS item 1</li>
				<li>POS item 2</li>
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-dark">Pay</button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Service</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title">£100 <small class="text-muted">/ mo</small></h1>
			<ul class="list-unstyled mt-3 mb-4">
				<li>POS item 1</li>
				<li>POS item 2</li>
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-dark">Pay</button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Service</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title">£100 <small class="text-muted">/ mo</small></h1>
			<ul class="list-unstyled mt-3 mb-4">
				<li>POS item 1</li>
				<li>POS item 2</li>
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-dark">Pay</button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Service</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title">£100 <small class="text-muted">/ mo</small></h1>
			<ul class="list-unstyled mt-3 mb-4">
				<li>POS item 1</li>
				<li>POS item 2</li>
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-dark">Pay</button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Service</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title">£100 <small class="text-muted">/ mo</small></h1>
			<ul class="list-unstyled mt-3 mb-4">
				<li>POS item 1</li>
				<li>POS item 2</li>
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-dark">Pay</button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Service</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title">£100 <small class="text-muted">/ mo</small></h1>
			<ul class="list-unstyled mt-3 mb-4">
				<li>POS item 1</li>
				<li>POS item 2</li>
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-dark">Pay</button>
		</div>
	</div>
</div>