$font-family-base:          'Source Sans Pro';

/*$primary:                   #ff9368;
$primary-accent:            #ff4a73;
$secondary:                 #fff;

$border-radius:             0.3125rem;

$btn-padding-y:             0.3125rem;
$btn-padding-x:             0.9375rem;

$action-bar-width:          56px;
$action-bar-width-expanded: 220px;
$action-bar-background:     linear-gradient(to bottom, $primary, $primary-accent);

$action-bar-item-height:    $action-bar-width;*/

$enable-responsive-font-sizes: true;